<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no" />
  <title>¿Hoy es Quincena?</title>

  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
</head>

<body>
  <div class="main-container">
    <main role="main" class="container">
      <div class="title-container">
        <h2 class="main-title">¿Hoy es Quincena?</h2>
      </div>
      <div class="calendar-container"></div>
    </main>
    <footer class="disclaimer">
      made with 🍻 and 💜 at <a href="http://quincenalabs.com">quincenalabs</a>. you can also checkout our <a href="/api">api</a>,
      this page is 100% organic and gluten/GMO free
    </footer>
  </div>



  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>
    ">
  </script>
</body>

</html>
